/* FIRA SANS */
.navbar li {
    margin-left: 15px;
}
.navbar li a {
    font-family: 'roboto', sans-serif;
    font-size: 1.2em;
}
.align-center {
    text-align:center;
}
* {
    font-family: 'roboto', sans-serif;
}
.navbar img {
    width: 27%;
}
.bg-light {
    background-color:white;
}

/* Home Styling */

.masthead {
    height:500px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("pix/home-bg.jpg") no-repeat bottom center scroll;
    background-color: rgb(255, 255, 255);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.masthead h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3.5em;
    text-align:center;
    margin-top: 3.2em;
    margin-bottom: 0.5em;
    letter-spacing:2px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding:10px;
}
.masthead h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom:3.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    letter-spacing:2px;
    background-color:rgb(255, 255, 255);
    padding:15px;
}
.intro-text {
    margin-top: 5em;
    margin-bottom: 5em;
}
.intro-text img {
    width:100%;
}
.intro-text h2 {
    font-family: 'roboto', sans-serif;
    font-size:2.25em;
    color:#4d4d4d;
}
.intro-text h4 {
    margin-bottom: 40px;
}
.intro-text p {
    margin-bottom:40px;
}
.intro-cards {
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}
.intro-cards h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 1.75em;
}
.intro-cards img {
    width: 350px;
    height: 275px;
}
.intro-cards p {
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 200;
}
.intro-cards .btn {
    margin-top: 10px;
}
hr {
    border-color: rgb(122, 122, 122);
}
.intro-team {
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}
.intro-team img {
    width: 80%;
    height: auto;
}
.intro-team .row {
    margin-top: 40px;
}
.intro-team h2 {
    font-weight: bold;
}
.intro-team h3 {
    margin-bottom: 20px;
}
.a {
    margin-top: -20px;
}
.intro-footer img {
    height:40px;
    margin: 0 20px;
    margin-bottom: 10px;
}

/* About styling */

.about-head {
    height:500px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("pix/about-bg.jpg") no-repeat bottom center scroll;
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-head h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3.5em;
    text-align:center;
    margin-top: 3.2em;
    margin-bottom: 0.5em;
    letter-spacing:2px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding:10px;
}
.about-head h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom:3.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    letter-spacing:2px;
    background-color:rgb(255, 255, 255);
    padding:15px;
}
.about-text {
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.about-text h2 {
    font-family: 'roboto', sans-serif;
    font-size:2.25em;
    font-weight:200;
    color:#4d4d4d;
}
.about-article h3 {
    font-size: 1.4em;
    color:rgb(95, 95, 95);
}
.about-article .btn {
    margin-top: 15px;
}
.about-article img {
    border: 0px solid black;
    width:100%;
    margin-top: 2.4em;
}
.about-img {
    text-align:center;
    margin-bottom: 35px;
}
.about-img2 {
    text-align:center;
    margin-bottom:35px;
    width:100%;
}

/* Give Styling */

.give-head {
    height:500px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("pix/give-bg.jpg") no-repeat bottom center scroll;
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.give-head h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3.5em;
    text-align:center;
    margin-top: 4em;
    margin-bottom: 0.5em;
    letter-spacing:2px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding:10px;
}
.give-text {
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.give-text h2 {
    font-family: 'roboto', sans-serif;
    font-size:2.25em;
    font-weight:200;
    color:#4d4d4d;
}
.give-article h3 {
    font-size: 1.25em;
    color:rgb(95, 95, 95);
}
.give-article .btn {
    margin-top: 15px;
}
.give-article img {
    width: 100%;
}
.give-article .row {
    margin: 40px 0;
}

/* Contact Styling */

.contact-head {
    height:500px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("pix/contact-bg.jpg") no-repeat bottom center scroll;
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact-head h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3.5em;
    text-align:center;
    margin-top: 4em;
    margin-bottom: 0.5em;
    letter-spacing:2px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding:10px;
}
.contact-text {
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.contact-text h2 {
    font-family: 'roboto', sans-serif;
    font-size:2.25em;
    font-weight:200;
    color:#4d4d4d;
}

/* Sermons Styling */

.sermons-head {
    height:500px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("pix/sermons-bg.jpg") no-repeat bottom center scroll;
    background-color: rgb(0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sermons-head h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3.5em;
    text-align:center;
    margin-top: 4em;
    margin-bottom: 0.5em;
    letter-spacing:2px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    padding:10px;
}
.sermons-text {
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.sermons-text h2 {
    font-family: 'roboto', sans-serif;
    font-size:2.25em;
    font-weight:200;
    color:#4d4d4d;
}
body {
    margin: 30px;
    padding: 0;
    background: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    width: 100%;
    max-width: 854px;
    margin: 0 auto;
}

.caption {
    width: 100%;
    max-width: 854px;
    margin: 0 auto;
    padding: 20px 0;
}

.vid-main-wrapper {
    width: 100%;
    max-width: 1100px;
    min-width: 440px;
    background: #fff;
    margin: 0 auto;
}


/*  VIDEO PLAYER CONTAINER
############################### */
.vid-container {
  position: relative;
  padding-bottom: 52%;
  padding-top: 30px; 
  height: 0; 
width:70%;
float:left;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 360px;
}


/*  VIDEOS PLAYLIST 
############################### */
.vid-list-container {
  width: 30%;
height:360px;
  overflow: hidden;
float:right;
}

.vid-list-container:hover, .vid-list-container:focus {
overflow-y: auto;
}

ol#vid-list {
margin:0;
padding:0;
background: #222;
}

ol#vid-list li {
list-style: none;
}

ol#vid-list li a {
text-decoration: none;
background-color: #222;
height:55px;
display:block;
padding:10px;
}

ol#vid-list li a:hover {
background-color:#666666
}

.vid-thumb {
float:left;
  margin-right: 8px;
}

.active-vid { 
background:#3A3A3A;
}

#vid-list .desc {
  color: #CACACA;
  font-size: 13px;
  margin-top:5px;
}


@media (max-width: 624px) {
  body {
      margin: 15px;
  }
  .caption {
      margin-top: 40px;
  }
  .vid-list-container {
      padding-bottom: 20px;
  }

}