*{
    box-sizing:border-box;
    font-family: 'roboto', sans-serif;
}
body {
    background-color:white;
}
.light-body{
    background-color:#EEEEEE;
}
.dark-body {
    background-color:rgb(0, 0, 0);
    color:white;
}

/* Navbar Styling */


.navbar a {
    font-family: 'roboto', sans-serif;
}
.navbar-brand {
    font-weight: bold;
}

@media screen and (min-width: 990px) {
    .navbar a {
        margin: 0 10px;
        font-size:1.15em;
    }
}
/* Home Styling */

.masthead {
    height:550px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("../pix/home-background.jpg") no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.masthead h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
    letter-spacing:2px;
}
.intro-text {
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
}
.intro-text h2 {
    font-family: 'roboto', sans-serif;
    font-size:2.25em;
    font-weight:200;
    color:#4d4d4d;
}
.intro-cards {
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}
.intro-cards h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 1.75em;
}
.intro-cards img {
    width: 100%;
}
.intro-cards p {
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 200;
}
.intro-cards .btn {
    margin-top: 10px;
}
hr {
    border-color: rgb(196, 196, 196);
}

.intro-test {
    margin-top:3.5em;
    margin-bottom:3.5em;
}
.intro-test h1 {
    font-family: 'Cinzel', sans-serif;
    font-size: 2em;
}
.intro-test h2 {
    font-size: 2em;
    font-family: 'roboto', sans-serif;
}
.intro-test h1 span {
    font-size: 0.7em;
    font-family: 'roboto', sans-serif;
}
.intro-test .btn {
    margin-top: 15px;
}
.intro-footer p {
    font-family: 'roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .intro-cards .col-sm-12 a {
        margin-bottom:40px;
    }
    .intro-test .col-sm-12 {
        margin-bottom: 40px;
    }
    .masthead {
        height: 475px;
    }
    .masthead h1 {
        margin-top: 3.75em;
        margin-bottom: 3.75em;
    }
}

/* Gallery Styling */

.gal-masthead {
    height:550px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("../pix/gal-background.jpg") no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.gal-masthead h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
    letter-spacing:2px;
}
.gal-cards .row {
    margin-top: 40px;
    margin-bottom: 40px;
}
.gal-cards h2 {
    font-family: 'roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 1.75em;
    text-align:left;
}
.gal-cards img {
    width: 100%;
}
.gal-cards p {
    margin-top: 20px;
    font-family: 'roboto', sans-serif;
    font-weight: 200;
}
.gal-cards {
    text-align:center;
}
.gal-cards .btn {
    margin-top: 20px;
}

/* About Page Styling */

.about-masthead {
    height:550px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("../pix/about-background.jpg") no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-masthead h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
    letter-spacing:2px;
}
.about-article h3 {
    font-size: 1.4em;
    color:rgb(95, 95, 95);
}
.about-article .btn {
    margin-top: 15px;
}
.about-article img {
    border-radius:100%;
    border: 0px solid black;
    width:70%;
    margin-top: 2.4em;
}
.about-img {
    text-align:center;
}

/* Contact Styling */

.contact-masthead {
    height:550px;
    width: 100%;
    margin-top:60px;
    color: rgb(255, 255, 255);
    background: url("../pix/contact-background.jpg") no-repeat bottom center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact-masthead h1 {
    font-family: 'Roboto', sans-serif;
    font-size:3em;
    text-align:center;
    margin-top: 5em;
    margin-bottom: 5em;
    letter-spacing:2px;
}
.contact-article h1{
    font-size: 2em;
}
.contact-article p {
    margin-bottom:0px;
}
.contact-article .row {
    margin-top: 60px;
    margin-bottom: 60px;
}
.contact-article h2{
    font-size: 1.5em;
}