/* Navbar */

.bg-custom {
    background: #fafafa;
}
@media screen and (min-width: 992px) {
    .navbar-nav li {
        margin: 0 10px;
    }
}

/* General Styling */

* {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.light {
    font-weight: 200;
}
.bold {
    font-weight: 700;
}

/* Home Styling */

.home, .home .container {
    height: 100vh;
    background: #fafafa;
}
.home .container {
    position: relative;
}
.home .row {
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
}
.home .row .col-md-6:first-child {
    position: relative;
}
.home .row .v-center {
    position: absolute;
    top: 60%;
    transform: translateY(-40%);
}
.home h1 {
    color: black;
    font-size: 4em;
}
.home h3 {
    color: black;
}
.home p {
    color: rgb(49, 49, 49);
    margin-top: 20px;
}
.home img { 
    width: 100%;
}
@media screen and (max-width: 768px) {
    .home .container {
        position: relative;
        padding-top: 15vh;
    }
    .home .row {
        position: relative;
    }
    .home .row .v-center {
        position: relative;
        top: 0;
        transform: none;
    }
}
@media screen and (max-width: 500px) {
    .home .container {
        padding-top: 10vh;
    }
}

/* Experience Styling  */

.experience {
    height: 100vh;
    background: #fafafa;
    padding-top: 15vh;
    color: black;
}
.experience h5 {
    color: rgb(71, 71, 71);
}
.experience h1 {
    padding: 30px;
    margin-bottom: 8vh;
    border-left: 2px solid black;
}
.experience .row {
    margin-bottom: 8vh;
}
@media screen and (max-width: 768px) {
    .experience h1 {
        margin-bottom: 8vh;
    }
    .experience .row {
        margin-bottom: 3vh;
    }
}

/* Skills Styling */

.skills {
    height: 100vh;
    background: #fafafa;
    padding-top: 30vh;
}
.skills h1 {
    padding: 30px;
    border-left: 2px solid black;
    font-size: 3em;
}
.skills .skill-card {
    padding: 30px;
}
.skill-card h2 {
    display: inline-block;
}
.skill-card img {
    width: 12%;
    margin-right: 20px;
}
.skill-card p {
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .skills {
        padding-top: 12vh;
    }
    .skill-card img {
        width: 8%;
    }
    .skill-card p {
        margin-top: 10px;
    }
    .skill-card {
        margin-bottom: -60px;
    }
}

/* Education Styling */

.education {
    height: 100vh;
    background: #fafafa;
    padding-top: 10vh;
}
.education h1 {
    margin-bottom: 5vh;
    padding: 30px;
    border-left: 2px solid black;
    font-size: 3em;
}
.education-card {
    padding: 30px;
}
.education-card img {
    width: 100%;
    border-radius: 10px;
}
.education-card h2 {
    margin-top: 20px;
    font-weight: 700;
}
.education-card h4 {
    font-size: 1.3em;
}
.education-card p {
    margin-top: 20px;
}